footer{
    background-color: rgba(182, 157, 119, 0.575);
}
.links-index{
    text-align: center;
    padding: 10px;
}

.links-index a{
    padding: 5px;
    font-size: 22px;
    color: rgb(22, 40, 139);
    text-decoration: none;
}

.copy-index{
    text-align: center;
    padding: 5px;
}