.inicio img{
    width: 98.7vw;
    height: 100vh;    
}

.inicio .inicio-huno{
    text-align: center;
    color: rgb(196, 65, 65);
    font-size: 20px;
}

.inicio .inicio-hdos{
    text-align: center;
    color: rgb(10, 8, 8);
    font-size: 25px;
}